[Unit]
Description=crtx service
Wants=dev-video0.device
After=dev-video0.device

[Service]
Type=simple
User=crtx
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/crtx/.Xauthority
ExecStart=/home/crtx/autostart.sh

[Install]
WantedBy=multi-user.target

